body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

::selection {
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

/* Firefox */
::-moz-selection {
    background: black;
    color: white;
}

/* Quitar box-shadow de Bootstrap */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: none;
}

/* Botón registro */
#btn_registro:hover {
    color: #212529 !important;
    background-color: #f8f9fa;
}

/* Botón usuario */
#btn_usuario:hover {
    color: #212529 !important;
    background-color: #f8f9fa;
}

/* Img volver */
#img_volver {
    filter: opacity(0.6);
    cursor: pointer;
    padding: 1rem 1rem;
    margin: -1rem 0rem -1rem -1rem;
}

#img_volver:hover {
    filter: opacity(1);
}

/* Animación esconder alerta */
.esconder_alert {
    animation: esconder_alert 0s 6s ease 1 forwards;
}

@keyframes esconder_alert {
    from{}
    to{}
}

.error {
    color: rgba(255, 0, 0, 0.6);
    font-size: 14px;
}

button:focus {
    box-shadow: none !important;
}